#build files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rproj
.references.bib

#build artifacts
.DS_Store

#logs and temp
*.log
*.aux
*.out
*.tex

#config
_publish.yml

/.quarto/

#large map file
portfolio/RancherFinalMap_RGB_ForScreen.pdf
_site/portfolio/RancherFinalMap_RGB_ForScreen.pdf

# Allow all other images and PDFs
!*.jpg
!*.JPG
!*.jpeg
!*.png
!*.pdf
